.quizSlaveLeaderboard {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quizSlaveLeaderboard .content {
    display: flex;
    padding: 50px 20px 0 20px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    flex: 1 0 0;
    align-self: stretch;
}

.quizSlaveLeaderboard .content h1 {
    margin: 0;
    color: var(--white);
    text-align: center;
    font-family: "Inika", serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}