.quizPodium {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100svh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.quizPodium .quizCodeTag {
    position: absolute;
    right: 100px;
}

.quizPodium .content {
    display: flex;
    padding: 100px 100px 0 100px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

.quizPodium .content h1 {
    color: var(--white);
    text-align: center;
    font-family: "Inika", serif;
    font-size: 68px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

.quizPodium .content .podiumGroup {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
}