# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.firebase

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

/backend/QuizApp/bin
/backend/QuizApp/obj
backend/QuizApp/.vs/slnx.sqlite
backend/QuizApp/.vs/VSWorkspaceState.json
backend/QuizApp/.vs/QuizApp/config/applicationhost.config
backend/QuizApp/.vs/QuizApp/DesignTimeBuild/.dtbcache.v2
backend/QuizApp/.vs/QuizApp/FileContentIndex/163302c7-10ed-4453-9762-8a113a928efa.vsidx
backend/QuizApp/.vs/QuizApp/FileContentIndex/7812034e-308a-4a0b-8fa6-bb2b81623873.vsidx
backend/QuizApp/.vs/QuizApp/FileContentIndex/83d1eacb-608d-4b2a-be46-823ec61c09c7.vsidx
backend/QuizApp/.vs/QuizApp/FileContentIndex/875d369d-d5f3-4661-a86f-4d22f9f82913.vsidx
backend/QuizApp/.vs/QuizApp/FileContentIndex/c8b24e8c-ee54-4955-9c1e-e1142867296f.vsidx
backend/QuizApp/.vs/QuizApp/v17/.futdcache.v2
backend/QuizApp/.vs/QuizApp/v17/.wsuo
backend/QuizApp/.vs/QuizApp/FileContentIndex/06f1c920-4d82-481e-bf8d-1e2050a00f7e.vsidx
backend/QuizApp/.vs/QuizApp/FileContentIndex/6b934903-f2dc-4948-a489-de91ea351ae6.vsidx
backend/QuizAppTest/obj
