.answerInputField {
    display: flex;
    /*width: 340px;*/align-self: stretch;
    height: calc((var(--answer-input-text-size))*3 + 30px*2 + 9px);
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--black);
    position: relative; /* Set parent div as the reference for absolute positioning */
    box-sizing: border-box;
    overflow: hidden;
    --answer-input-text-size: 24px;
}

.answerInputField .characterCount {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    padding: 0;
    color: var(--text-field-text);
    text-align: right;
    font-family: 'Sansation', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.answerInputField textarea {
    width: 100%;
    height: 100%;
    padding: 24px 0;
    background: transparent;
    border-width: 0;
    color: var(--white);
    font-size: 24px;
    text-align: center;
    font-family: 'Sansation', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
}
.answerInputField textarea::placeholder {
    color: var(--text-field-text);
}
.answerInputField textarea:focus {
    outline: none;
}

.answerInputField .threeDots {
    z-index: 1;
    position: absolute;
}

.answerInputField object:first-of-type {
    z-index: 1;
    position: absolute;
    left: 3px;
    top: 3px;
}
.answerInputField object:last-of-type {
    z-index: 1;
    position: absolute;
    right: 3px;
    bottom: 3px;
    rotate: 180deg;
}
