/* TODO: what should happen if the answer is super long? */

.answerInputField {
    display: flex;
    /*width: 340px;*/align-self: stretch;
    padding: 60px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--black);
    position: relative; /* Set parent div as the reference for absolute positioning */
    box-sizing: border-box;
}

.answerInputField input {
    width: 100%;
    height: inherit;
    padding: 0;
    background: transparent;
    border-width: 0;
    color: var(--white);
    font-size: 24px;
    text-align: center;
    font-family: 'Sansation', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.answerInputField input::placeholder {
    color: var(--text-field-text);
}
.answerInputField input:focus {
    outline: none;
}

.answerInputField .threeDots {
    z-index: 1;
    position: absolute;
}

.answerInputField object:first-of-type {
    z-index: 1;
    position: absolute;
    left: 3px;
    top: 3px;
}
.answerInputField object:last-of-type {
    z-index: 1;
    position: absolute;
    right: 3px;
    bottom: 3px;
    rotate: 180deg;
}
