.page_styling {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    flex-direction: column;
}

.quizSlaveSessionLobbyTitle {
    color: var(--white);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}

.quizSlaveSessionLobbyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    overflow: hidden;
}