.popup {
    position: absolute;
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100svh;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.popupBackground {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100svh;
    overflow: hidden;
    background: var(--black);
    opacity: 0.6;
    /*background: rgba(69, 0, 39, 0.60);*/ /* var(--black) at 60% */
}

.popupField {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    z-index: 6;
    border-radius: 16px;
    border-width: 0;
    max-width: 600px;
    width: 600px;
    gap: 40px;
}

.popupTitleAndMessage {
    display: flex;
    padding: 40px 40px 0px 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.popupTitleAndMessage .popupTitle {
    font-size: 24px;
    margin: 0;
}
.popupTitleAndMessage .popupMessage {
    margin: 0;
    font-size: 18px;
    text-shadow: 0 0 2px #9a1039; /* to fix contrast issue of white text on primary colour background */
}

.popupField .bottomNavBar {
    background: transparent;
}

.popupField .inputField {
    width: 90%;
}
.popupField .inputField input {
    padding: 18px 20px;
    font-size: 24px;
}
.popupField .inputField .characterCount {
    right: 6px;
    top: 6px;
    font-size: 12px;
}

@media only screen and (max-width: 480px) {
    .popupField, .popupField .bottomNavBar {
        max-width: 90vw;
    }
}