.home {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.quizableTitle {
    position: fixed;
    color: var(--white);
    text-align: center;
    font-family: "Inika", serif;
    font-size: 68px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.homeButtons {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    top: 65%;
}

.homeButtons button {
    width: 380px;
}

.buttonStyle{
    width: 380px;
    align-self: center;
    margin-top: 20px;
}

.linkToInfoPage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.linkToInfoPage img {
    width: 18px;
    height: 18px;
}
.linkToInfoPage p {
    color: var(--white);
    font-family: "Sansation", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin: 0;
}
.linkToInfoPage:hover {
    cursor: pointer;
}
.linkToInfoPage:hover p {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .homeButtons button:last-of-type {
        display: none;
    }

    .linkToInfoPage img {
        width: 14px;
        height: 14px;
    }
    .linkToInfoPage p {
        font-size: 18px;
    }
}