.inputField {
    display: flex;
    width: 680px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    background: var(--black);
    position: relative;
}

.inputField .characterCount {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    padding: 0;
    color: var(--text-field-text);
    text-align: right;
    font-family: 'Sansation', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.inputField input {
    width: inherit;
    height: inherit;
    padding: 30px 40px;
    background: transparent;
    border-width: 0;
    color: var(--white);
    font-size: 32px;
    text-align: center;
    font-family: 'Sansation', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.inputField input::placeholder {
    color: var(--text-field-text);
}
.inputField input:focus {
    outline: none;
}