.joinPage{
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100svh;
    overflow: hidden;
    flex-direction: column;
}

.contentJoin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex: 1 0 0;
    align-self: stretch;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.contentJoin .inputFieldWithValidationText {
    position: relative;
}

.contentJoin .inputFieldWithValidationText .inputFieldJoinValidation {
    position: absolute;
    font-size: 24px;
    color: var(--white);
    text-align: center;
    width: 100%;
    left: 0;
}

@media only screen and (max-width: 480px) {
    .contentJoin .inputFieldWithValidationText .inputFieldJoinValidation {
        font-size: 18px;
        max-width: 90vw;
        left: auto;
    }
}