.quizEnd {
    display: flex;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.quizEnd .quizCodeTag {
    position: absolute;
    right: 100px;
}

.quizEnd .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.quizEnd .content p {
    color: var(--white);
    font-family: "Sansation", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    text-align: center;
}

.quizEnd .content .buttonAndMessage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.quizEnd .content .buttonAndMessage .infoMessage {
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    bottom: -50px;
}
