.answerInputFieldWithActions {
    display: flex;
    width: 340px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.buttons button.long {
    padding: 12px;
}
.buttons button.long span {
    font-size: 20px;
}