.answerInputFieldWithActions {
    display: flex;
    /*width: 340px;*/flex: 1 0 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.buttons {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.buttons button.medium {
    flex: 1 0 0;
}

.answerInputFieldWithActions .threeDots {
    position: absolute;
    z-index: 1;
    top: 10px;
}