.bottomNavBar {
    display: flex;
    width: inherit;
    box-sizing: border-box;
    padding: 14px 60px 24px 60px;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid var(--primary-shadow);
    background: var(--primary-color);
}

.bottomNavBar button.long {
    padding: 14px 30px;
}