.bottomNavBar {
    display: flex;
    width: inherit;
    box-sizing: border-box;
    padding: 11px 60px 18px 60px;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid var(--primary-shadow);
    background: var(--primary-color);
    /*position: fixed;
    bottom: 0;*/
    z-index: 3;
}

.bottomNavBar.centered {
    justify-content: center;
}

.bottomNavBar button.long {
    padding: 14px 30px;
}

.bottomNavBar.navForPopup {
    padding: 11px 60px 20px 60px;
}

.bottomNavBar.navForPopup button.medium {
    padding: 12px 30px;
}

@media only screen and (max-width: 480px) {
    .bottomNavBar, .bottomNavBar.navForPopup {
        padding: 10px 20px 18px 20px;
    }

    .bottomNavBar button.long, .bottomNavBar.navForPopup button.medium {
        padding: 10px 15px;
    }
}