.bottomNavBar {
    display: flex;
    width: inherit;
    box-sizing: border-box;
    padding: 11px 60px 18px 60px;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid var(--primary-shadow);
    background: var(--primary-color);
    /*position: fixed;
    bottom: 0;*/
    z-index: 3;
}

.bottomNavBar button.long {
    padding: 14px 30px;
}