.quizPlayerCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    border-radius: 20px;
    width: 544px;
    max-width: 80vw;
    height: 90px;
    max-height: 90px;

    padding-left: 28px;
    padding-right: 28px;
}

.quizPlayerCardIconAndName {
    display: flex;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.quizPlayerCard .quizPlayerCardIconAndName p{
    padding: 0;
    margin: 0;
    color: var(--white);
    font-size: 32px;
    align-self: center;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.quizPlayerCardIcon_desktop {
    width: 68px;
}
.quizPlayerCardIcon_mobile {
    width: 58px;
}

.quizPlayerCardScoreText { 
    font-size: 32px;
    font-weight: 600;
    opacity: 0;
}

.quizPlayerCardScore{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.quizPlayerCardScore_desktopScore, .quizPlayerCardScore_mobileScore, .quizPlayerCardScore_desktopScoreUp, .quizPlayerCardScore_desktopScoreDown {
    opacity: 1;
    color: var(--white);
}
.quizPlayerCardScore_mobileScore {
    font-size: 24px;
}
.quizPlayerCardScore_desktopScoreUp {
   color: var(--correct-button);
}
.quizPlayerCardScore_desktopScoreDown {
    color: var(--delete-button);
}

.quizPlayerCardScoreArrow{
    width: 18px;
    display: flex;
}

@media only screen and (max-width: 480px) {
    .quizPlayerCard {
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        border-radius: 12px;
        height: auto;
        max-height: none;
        width: auto;
        max-width: none;
    }

    .quizPlayerCardIconAndName {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .quizPlayerCardIconAndName p {
        font-size: 24px;
        text-overflow: ellipsis;
    }

    .quizPlayerCardScoreText {
        font-size: 24px;
        margin: 0;
    }
}